*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: none;
    height: 100vh;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle at center, rgb(13, 116, 242), rgb(230, 45, 255));
    background-size: 200% 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: color 3s ease-in-out alternate infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    33% {
        background-position: 20% 100%;
    }
    67% {
        background-position: 70% 80%;
    }
    100% {
        background-position: 50% 100%;
    }
}
.box{
    background-image: linear-gradient(to top left, rgb(4, 4, 157) 20%, rgb(0, 0, 0));
    height: 500px;
    width: 550px;
    border-radius: 10%; 
    padding: 25px;
    border: 3px solid rgb(166, 202, 249);
    background-size: 400% 400%;
    animation: gradmove 5s ease-in-out alternate infinite;    
}

@keyframes gradmove {
    0% {
        background-position: 0% 50%;
    }
    33% {
        background-position: 20% 100%;
    }
    67% {
        background-position: 40% 80%;
    }
    100% {
        background-position: 30% 0%;
    }
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
    padding-bottom: 15px;
}

.info{
    padding: 10px;
    margin-right: 70px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label{
    font-size: 30px;
    margin: 30px;
}

input{
    width: 60%;
    height: 30px;
    border-radius: 10px;
    padding: 7px 30px;
    font-size: 20px;
    transition: all 0.3s linear;
}

input:hover{
    transform: scale(1.1);
}

button{
    width: 70%;
    height: 40px;
    margin: 20px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    border: 3px rgb(124, 170, 250) solid;
    transition: all 0.3s linear;
}

button:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to top, white, rgb(210, 28, 255));
    color: black;
    box-shadow: 0px 0px 20px 5px rgb(210, 28, 255);
}

#SignUp{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

